*.swp
*/*.swp
*.o
*/*.o
*.gen
*.map
res.h
obj/*/*.*
obj/*.*
music/out
music/out/*
util/xm2esf/TEMP
editor
history/
obj_dispatch.inc
util/accurate-kosinski
res/map
util/tm/resources
util/tm/settings.xml
