<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/prj/res/gfx/obj/128_lyle.bin"/>
  <property key="recentFile" value="/home/moffitt/.mame/roms/tdragon2/1.bin"/>
  <property key="recentFile" value="/home/moffitt/.mame/roms/hachamfp/kf-obj0.ic8"/>
  <property key="recentFile" value="/home/moffitt/.mame/roms/hachamfp/kf-obj1.ic11"/>
</settings>
