<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/moffitt/Development/mega-squad-advantage/res/gfx/player_sprites.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/obj/128_lyle.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/obj/37_vyle2.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/bg/bg26.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/ex/kana_font.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/obj/136_powerup_manager.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/obj/129_cubes.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/gfx/obj/137_pause.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/lics2/res/pausemap.bin"/>
  <property key="recentFile" value="/home/moffitt/.mame/roms/hachamfp/kf-obj1.ic11"/>
</settings>
